.btn {
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  font-weight: 550;
}

.btn-container {
  background-color: #e2e6cc;
  height: 40px;
  width: 240px;
  text-align: center;
  border-radius: 33px;
  margin: 30px 0 30px auto;
  transition: all 0.2s ease-in-out;
}

.btn-container-special {
  background-color: #e2e6cc;
  height: 40px;
  width: 240px;
  text-align: center;
  border-radius: 33px;
  margin: 30px auto;
}

.btn-container:hover {
  background-color: #131313;
  color: #e2e6cc;
}
