footer {
  background-color: #e2e6cc;
  width: 100%;
  padding: 20px 0;
}

.footer-txt {
  font-size: 10px;
  margin: auto;
}

.footer-txt p {
  margin: 10px auto;
}

.logo-container {
  margin: auto;
  text-align: center;
}

.footer .f-container {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 30px;
  font-size: 40px;
}

.logo-container img {
  height: 80px;
}

.footer .f-container i {
  margin: 0 5px;
}
