// .front-img-container {
//   position: absolute;
//   width: 100%;
//   height: 520px;
//   padding: 0px;
//   overflow: hidden;
//   z-index: -10;
// }

.front-img {
  width: 100%;
  position: relative;
  z-index: -10;
  bottom: 500px;
  opacity: 80%;
}

.forme-1 {
  position: relative;
  right: 200px;
  top: 150px;
  z-index: -9;
}

.container-container-front {
  background-image: url(../img/forme1.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 200px;
  height: 1000px;
}

.front-text {
  font-weight: bold;
  letter-spacing: 2px;
}

.front .title-front {
  margin-top: 400px;
}

// .front {
//   background-image: url(../img/forme1.svg);
//   z-index: -10;
// }

.global-container {
  background-image: url(../img/Leamo-global-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
