.container-container-mixologie {
  margin-top: 20px;
  background-image: url(../img/forme3.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 200px;
  height: 1000px;
}

.mixologie-img-container {
  overflow: hidden;
  height: 500px;
}

h2 {
  text-align: center;
}

@media (max-width: 800px) {
  .container-container-mixologie {
    background-size: 90%;
    background-position-y: 20px;
    height: auto;
    margin-top: 70px;
  }
  .mixologie-img-container img {
    position: relative;
    bottom: 30px;
    width: 100%;
  }
  .mixologie-img-container {
    height: 130px;
  }
  .mixologie-text {
    font-size: 12px;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .mixologie-img-container img {
    width: 100%;
    position: relative;
    bottom: 150px;
  }
}
