.produits {
  width: 100%;
  padding-top: 190px;
  margin-top: 80px;
}

.container-container-produit {
  background-image: url(../img/forme2.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 1050px;
  background-position-x: right;
  background-position-y: 50px;
}

.related-produit img {
  background-color: #e2e6cc;
  margin: 5px;
  padding-bottom: 30px;
}

.related-produit p {
  text-align: center;
  position: relative;
  bottom: 50px;
}

.produits-title {
  font-weight: bold;
  text-align: center;
}

.content-container {
  margin: 0 auto;
  position: relative;
}

.related-produit-hover img {
  backdrop-filter: blur(5px);
  background-color: #e2e6cc60;
  margin: 5px;
  padding-bottom: 30px;
  transition: 0.2s ease-in-out;
}

.produits-hover {
  position: absolute;
  top: 90px;
}

.related-produit-hover p {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.related-produit-hover {
  position: relative;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.related-produit-hover:hover {
  opacity: 100%;
}
