@media (max-width: 800px) {
  .valeurs {
    text-align: center;
  }
  .valeurs-text {
    margin-top: 30px;
  }
  .valeurs-title-sm {
    display: block;
  }
  .valeurs-title-lg {
    display: none;
  }
}

@media (min-width: 800px) {
  .valeurs {
    margin-top: 80px;
  }
  .valeurs-title-lg {
    display: block;
  }
  .valeurs-title-sm {
    display: none;
  }
}

.valeurs-title-lg {
  margin-bottom: 70px;
}
