.container-container-vente {
  background-image: url(../img/forme4.svg);
  background-repeat: no-repeat;
  background-position: right top;
  height: 850px;
  background-position-y: 30px;
}

.points-de-vente-img-container {
  overflow: hidden;
  height: 400px;
}

.points-de-vente-img-container img {
  width: 100%;
}

@media (max-width: 800px) {
  .container-container-vente {
    background-size: 90%;
    background-position-y: 50px;
    height: 350px;
  }
  .points-de-vente-text {
    text-align: center;
  }
  .points-de-vente-img-container {
    height: 130px;
  }
  .vente-btn .btn-container {
    margin: 0 0;
  }
  .vente-btn {
    margin-top: 20px;
  }
}
