.container-container-vente {
  background-image: url(../img/forme4.svg);
  background-repeat: no-repeat;
  background-position: right top;
  height: 850px;
  background-position-y: 30px;
}

.points-de-vente-img-container {
  overflow: hidden;
  height: 400px;
}
